<!--The content below is only a placeholder and can be replaced.-->
<div>
<form>
  <input id="UserID" placeholder="Enter your Username">
  <button type="submit" (click)='connectScoket()'>Connect Scocket</button>
</form>

  <h6 id="connected" ></h6>
  <p id="receivedMsg"></p>
</div>
<router-outlet></router-outlet>
